<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
<%= fa_icon "twitter", class: "navbar-brand fa-3x"%>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/home" class="active-nav"><%= fa_icon "home", class: "fa-2x"%><span class="text hiss"> Home</span></a></li>
        <li><a href="#"><%= fa_icon "bell", class: "fa-2x"%><span class="text hiss"> Notifications</span></a></li>
        <li><a href="#"><%= fa_icon "comments", class: "fa-2x"%><span class="text hiss"> Messages</span></a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
         <li>
        <form class="navbar-form navbar-left">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search Twitterrr">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
         </li>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.username %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/user/<%= current_user.username %>">Profile</a></li>
            <li><a href="#">Help</a></li>
            <li><%= link_to "Settings", edit_user_registration_path %></li>
            <li role="separator" class="divider"></li>
            
            <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
        <li type="button" class="btn tweet-btn navbar-btn"><%= fa_icon "pencil" %> <span class="hiss">Add Post</span></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>